*{
    margin: 0;
    padding: 0;
    /* border: red 1px solid; */
}
/* 
Palheta de cores:
preto #000000
verde petroleo #14213d
amarelo ouro #fca311
cinza #e5e5e5
branco #ffffff
 */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eeeeee;
}

.banner {
    background-color: #fca311;

}


.start-bar {
    background-color: #e5e5e5;
    display: inline-block;
}
.name {
    color: #14213d;
    font-size: 15px;
    width: 180px;
    height: 100%;;
    
    text-align:center; 
}

.home-button h1 {
    font-size: 25px

}   
.home-button {
       
        text-decoration: none;
        color: #14213d;
        padding:100%;
        height: 100%;
        /* border-color: blue; */
    }
