
    body{
        background-color: beige;
        padding: 3%;
        font-family: Montserrat,sans-serif;
        
    }

    .gitin {
        /* border: black solid 2px; */
        background-color: white;
        width: 240px;
        height: 50px;
        position: relative;
        font-size: 20px;
        
    }
 


    #lkdin {
        position: absolute;
        right: 10px;
        margin: 10px;
        font-size: 20px;
        text-decoration: none;
        font-weight: 600;
        
    }

    #git{
        position: absolute;
        margin: 10px;
        left: 10px;
        text-decoration: none;
        font-weight: 600;
    }

    .ha1{
        font-size: 35px;
    }
    .ha2{
        font-size: 30px;
    }
    .ha3{
        font-size: 25px;
    }
    .ha4{
        font-size: 30px;
    }
    .ha5{
        font-size: 35px;
    }
    .ha6{
        font-size: 40px;
    }

    #profile-picture {
        float: left;
        height: 280px;
        width: 220px;
        padding: 10px;
        background-color:white
    }

    .my-name{
        text-align: center;
    }

    .image-container{

        height: 300px;
        position: relative;
    }

    .descricao{
        position: absolute;
        left: 290px;
        height: 220px;
        width: 320px;
        font-size: 20px;
    }

    div {
        /* border: 2px solid green; */
    }

    ul li:nth-child(odd) {
        background-color:aqua;
    }